<div class="row col-lg-10 offset-lg-1">
  <% @posts.each do |post| %>
    <div class="col-md-6 col-lg-4">
      <%= link_to product_post_path(post) do %>
        <div class="card post-card">
          <% if post.header_image.present? %>
            <div class="header-image" style="background-image: url(<%= url_for(post.header_image) %>)"></div>
          <% else %>
            <div class="header-image" style="background-image: url('/default.png')"></div>
          <% end %>
      <% end %>
        <div class="card-body d-flex flex-column">
          <%= form_with model: @order_item, html: {class: "add-to-cart"} do |f| %>
            <span class="show-title"><%= post.title %></span>
            <%= f.hidden_field :post_id, value: post.id %>
            <%= f.hidden_field :quantity, value: 1, min: 1%>
            <%= f.button '<i class="fas fa-cart-plus"></i>'.html_safe %>
          <% end %>

          <%= link_to product_post_path(post) do %>
            <p class="card-title"><%= post.code %></p>
            <p class="card-text"><%= truncate(post.description, length:30) %></p>
            <p class="card-title"><%= post.hashtag %></p>
            <p class="card-title">Language: <%= post.language %></p>
            <p class="card-title">Condition: <%= post.condition %></p>
            <p class="card-title">$<%= post.price %></p>
            <p class="card-title">Stock: <%= post.stock %></p>
          <% end %>
        </div>
        </div>
    </div>
  <% end %>
</div>