<% provide(:page_title, @post.title) %>
<div class="row">
  <div class="col-lg-10 offset-lg-1">
    <div class="card post-card mb-5">
      <% if @post.header_image.present? %>
        <div class="header-image" style="background-image: url(<%= url_for(@post.header_image) %>)"></div>
      <% else %>
        <div class="header-image" style="background-image: url('/default.png')"></div>
      <% end %>
      <div class="card-body">
        <div class="pl-3 pr-3 pt-4 pb-4">
          <div class="card-title mb-3">
            <%= form_with model: @order_item, html: {class: "add-to-cart"} do |f| %>
              <span class="show-title mr-2"><%= @post.title %></span>
              <%= f.hidden_field :post_id, value: @post.id %>
              <%= f.hidden_field :quantity, value: 1, min: 1%>
              <%= f.button'<i class="fas fa-cart-plus"></i>'.html_safe %>
            <% end %>
          </div>
          <div><%= @views %> Views (<%= @uniq_views %> Uniq Views) </div>
          <div><%= @post.code %></div>
          <div><%= @post.hashtag %></div>
          <div>Language: <%= @post.language %></div>
          <div>Condition: <%= @post.condition %></div>
          <div>$<%= @post.price %></div>
          <div class="mb-5">Stock: <%= @post.stock %></div>

          <% @post.elements.each do |element| %>
            <% if element.image? %>
              <div class="image-element mb-5">
                <%= image_tag(element.image) %>
              </div>
            <% else %>
              <div class="content-element mb-5">
                <%= element.content %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


