<% provide(:page_title, 'MAIN') %>
<%= @dt %>
<% if @dt == 'desktop' %>
  <div data-controller="infinite-scroll" data-action="scroll@window->infinite-scroll#scroll">
    <div data-infinite-scroll-target="entries">
      <%= render "posts" %>
    </div>
    <div class="pagy" data-infinite-scroll-target="pagination">
      <%== pagy_bootstrap_nav(@pagy) %>
    </div>
  </div>
<% else %>
  <%= render "posts" %>
  <%== pagy_bootstrap_nav(@pagy) %>
<% end %>